<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [fixedBottomGap]="true" [fixedTopGap]="true" [mode]="'side'">
    <button mat-button (click)="sidenav.toggle()">
      Toggle
    </button>
    <document-list></document-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <section>
      <button (click)="sidenav.toggle()" mat-button>Toggle</button>
      <summary-document-detail>

      </summary-document-detail>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>