<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [fixedBottomGap]="true" [fixedTopGap]="true" [mode]="'side'">
    <button mat-button (click)="sidenav.toggle()">
      Toggle
    </button>
    <document-list></document-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <section>
      <nav mat-tab-nav-bar>
        <button mat-tab-link (click)="sidenav.toggle()" mat-button>Toggle</button>
        <a mat-tab-link [routerLink]="'./edit'" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
          <mat-icon>edit</mat-icon>
        </a>
      </nav>

      <router-outlet></router-outlet>

    </section>
  </mat-sidenav-content>
</mat-sidenav-container>